body {
    font-family: 'Arial', sans-serif;
    background-color: #2a2a2a; /* Dark Gray Background */
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
}

.logo {
    font-size: 24px;
    color: #00FFFF; /* Cyan color for the logo */
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #00FFFF; /* Cyan color for the navigation links */
}

.intro {
    display: flex;
    justify-content: center; /* Center the child elements */
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px; /* Add some margin to separate the left section from the right */
}


.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3); /* Cyan shadow */
}

.greeting h1,
.greeting h2 {
    text-align: center;
    color: white;
}

.intro-card {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3); /* Cyan shadow */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent White Background */
    color: white;
    box-sizing: border-box;
}

.projects h2,
.footer h2 {
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #00FFFF; /* Cyan color for the button */
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #00B2B2;
}

.social-icons .icon {
    margin-left: 10px;
    color: #00FFFF; /* Cyan color for the icons */
}

.linkedin-icon {
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 10px cyan; /* This gives the cyan shadow */
    transform: translateY(10px); /* This moves the icon down by 10px */
}

